<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Flag</key>
	<dict>
		<key>Title</key>
		<string>Flag</string>
		<key>Stickers</key>
		<array>
			<string>flag_AC</string>
			<string>flag_AD</string>
			<string>flag_AE</string>
			<string>flag_AF</string>
			<string>flag_AG</string>
			<string>flag_AI</string>
			<string>flag_AL</string>
			<string>flag_AM</string>
			<string>flag_AO</string>
			<string>flag_AQ</string>
			<string>flag_AR</string>
			<string>flag_AS</string>
			<string>flag_AT</string>
			<string>flag_AU</string>
			<string>flag_AW</string>
			<string>flag_AX</string>
			<string>flag_AZ</string>
			<string>flag_BA</string>
			<string>flag_BB</string>
			<string>flag_BD</string>
			<string>flag_BE</string>
			<string>flag_BF</string>
			<string>flag_BG</string>
			<string>flag_BH</string>
			<string>flag_BI</string>
			<string>flag_BJ</string>
			<string>flag_BM</string>
			<string>flag_BN</string>
			<string>flag_BO</string>
			<string>flag_BR</string>
			<string>flag_BS</string>
			<string>flag_BT</string>
			<string>flag_BW</string>
			<string>flag_BY</string>
			<string>flag_BZ</string>
			<string>flag_CA</string>
			<string>flag_CC</string>
			<string>flag_CD</string>
			<string>flag_CF</string>
			<string>flag_CG</string>
			<string>flag_CH</string>
			<string>flag_CI</string>
			<string>flag_CK</string>
			<string>flag_CL</string>
			<string>flag_CM</string>
			<string>flag_CN</string>
			<string>flag_CO</string>
			<string>flag_CR</string>
			<string>flag_CU</string>
			<string>flag_CV</string>
			<string>flag_CW</string>
			<string>flag_CX</string>
			<string>flag_CY</string>
			<string>flag_CZ</string>
			<string>flag_DE</string>
			<string>flag_DJ</string>
			<string>flag_DK</string>
			<string>flag_DM</string>
			<string>flag_DO</string>
			<string>flag_DZ</string>
			<string>flag_EC</string>
			<string>flag_EE</string>
			<string>flag_EG</string>
			<string>flag_EH</string>
			<string>flag_ER</string>
			<string>flag_ES</string>
			<string>flag_ET</string>
			<string>flag_EU</string>
			<string>flag_FI</string>
			<string>flag_FJ</string>
			<string>flag_FK</string>
			<string>flag_FM</string>
			<string>flag_FO</string>
			<string>flag_FR</string>
			<string>flag_GA</string>
			<string>flag_GB</string>
			<string>flag_GD</string>
			<string>flag_GE</string>
			<string>flag_GF</string>
			<string>flag_GG</string>
			<string>flag_GH</string>
			<string>flag_GI</string>
			<string>flag_GL</string>
			<string>flag_GM</string>
			<string>flag_GN</string>
			<string>flag_GP</string>
			<string>flag_GQ</string>
			<string>flag_GR</string>
			<string>flag_GS</string>
			<string>flag_GT</string>
			<string>flag_GU</string>
			<string>flag_GW</string>
			<string>flag_GY</string>
			<string>flag_HK</string>
			<string>flag_HN</string>
			<string>flag_HR</string>
			<string>flag_HT</string>
			<string>flag_HU</string>
			<string>flag_IC</string>
			<string>flag_ID</string>
			<string>flag_IE</string>
			<string>flag_IL</string>
			<string>flag_IM</string>
			<string>flag_IN</string>
			<string>flag_IO</string>
			<string>flag_IQ</string>
			<string>flag_IR</string>
			<string>flag_IS</string>
			<string>flag_IT</string>
			<string>flag_JE</string>
			<string>flag_JM</string>
			<string>flag_JO</string>
			<string>flag_JP</string>
			<string>flag_KE</string>
			<string>flag_KG</string>
			<string>flag_KH</string>
			<string>flag_KI</string>
			<string>flag_KM</string>
			<string>flag_KN</string>
			<string>flag_KP</string>
			<string>flag_KR</string>
			<string>flag_KW</string>
			<string>flag_KY</string>
			<string>flag_KZ</string>
			<string>flag_LA</string>
			<string>flag_LB</string>
			<string>flag_LC</string>
			<string>flag_LI</string>
			<string>flag_LK</string>
			<string>flag_LR</string>
			<string>flag_LS</string>
			<string>flag_LT</string>
			<string>flag_LU</string>
			<string>flag_LV</string>
			<string>flag_LY</string>
			<string>flag_MA</string>
			<string>flag_MC</string>
			<string>flag_MD</string>
			<string>flag_ME</string>
			<string>flag_MG</string>
			<string>flag_MH</string>
			<string>flag_MK</string>
			<string>flag_ML</string>
			<string>flag_MM</string>
			<string>flag_MN</string>
			<string>flag_MO</string>
			<string>flag_MP</string>
			<string>flag_MQ</string>
			<string>flag_MR</string>
			<string>flag_MS</string>
			<string>flag_MT</string>
			<string>flag_MU</string>
			<string>flag_MV</string>
			<string>flag_MW</string>
			<string>flag_MX</string>
			<string>flag_MY</string>
			<string>flag_MZ</string>
			<string>flag_NA</string>
			<string>flag_NC</string>
			<string>flag_NE</string>
			<string>flag_NF</string>
			<string>flag_NG</string>
			<string>flag_NI</string>
			<string>flag_NL</string>
			<string>flag_NO</string>
			<string>flag_NP</string>
			<string>flag_NR</string>
			<string>flag_NU</string>
			<string>flag_NZ</string>
			<string>flag_OM</string>
			<string>flag_PA</string>
			<string>flag_PE</string>
			<string>flag_PF</string>
			<string>flag_PG</string>
			<string>flag_PH</string>
			<string>flag_PK</string>
			<string>flag_PL</string>
			<string>flag_PM</string>
			<string>flag_PN</string>
			<string>flag_PR</string>
			<string>flag_PS</string>
			<string>flag_PT</string>
			<string>flag_PW</string>
			<string>flag_PY</string>
			<string>flag_QA</string>
			<string>flag_RE</string>
			<string>flag_RO</string>
			<string>flag_RS</string>
			<string>flag_RU</string>
			<string>flag_RW</string>
			<string>flag_SA</string>
			<string>flag_SB</string>
			<string>flag_SC</string>
			<string>flag_SD</string>
			<string>flag_SE</string>
			<string>flag_SG</string>
			<string>flag_SH</string>
			<string>flag_SI</string>
			<string>flag_SK</string>
			<string>flag_SL</string>
			<string>flag_SM</string>
			<string>flag_SN</string>
			<string>flag_SO</string>
			<string>flag_SR</string>
			<string>flag_SS</string>
			<string>flag_ST</string>
			<string>flag_SV</string>
			<string>flag_SX</string>
			<string>flag_SY</string>
			<string>flag_SZ</string>
			<string>flag_TA</string>
			<string>flag_TC</string>
			<string>flag_TD</string>
			<string>flag_TG</string>
			<string>flag_TH</string>
			<string>flag_TJ</string>
			<string>flag_TK</string>
			<string>flag_TL</string>
			<string>flag_TM</string>
			<string>flag_TN</string>
			<string>flag_TO</string>
			<string>flag_TR</string>
			<string>flag_TT</string>
			<string>flag_TV</string>
			<string>flag_TW</string>
			<string>flag_TZ</string>
			<string>flag_UA</string>
			<string>flag_UG</string>
			<string>flag_US</string>
			<string>flag_UY</string>
			<string>flag_UZ</string>
			<string>flag_VA</string>
			<string>flag_VC</string>
			<string>flag_VE</string>
			<string>flag_VG</string>
			<string>flag_VI</string>
			<string>flag_VN</string>
			<string>flag_VU</string>
			<string>flag_WF</string>
			<string>flag_WS</string>
			<string>flag_XK</string>
			<string>flag_YE</string>
			<string>flag_YT</string>
			<string>flag_ZA</string>
			<string>flag_ZM</string>
			<string>flag_ZW</string>
		</array>
		<key>Preview</key>
		<string>flag_UA</string>
	</dict>
	<key>Stickers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Dog</string>
			<key>Stickers</key>
			<array>
				<string>dog_furious</string>
				<string>dog_happy</string>
				<string>dog_love</string>
				<string>dog_pleased</string>
				<string>dog_sad</string>
				<string>dog_sick</string>
				<string>dog_smile</string>
				<string>dog_surprise</string>
				<string>dog_tongue</string>
				<string>dog_wink</string>
				<string>dog_active</string>
				<string>dog_amorous</string>
				<string>dog_brain</string>
				<string>dog_calm</string>
				<string>dog_disappoint</string>
				<string>dog_dismal</string>
				<string>dog_evil</string>
				<string>dog_festive</string>
				<string>dog_joyful</string>
				<string>dog_greeting</string>
				<string>dog_introduce</string>
				<string>dog_malicious</string>
				<string>dog_miss</string>
				<string>dog_sing</string>
				<string>dog_sore</string>
			</array>
			<key>Preview</key>
			<string>dog_love</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Card</string>
			<key>Stickers</key>
			<array>
				<string>card_2_of_clubs</string>
				<string>card_2_of_diamonds</string>
				<string>card_2_of_hearts</string>
				<string>card_2_of_spades</string>
				<string>card_3_of_clubs</string>
				<string>card_3_of_diamonds</string>
				<string>card_3_of_hearts</string>
				<string>card_3_of_spades</string>
				<string>card_4_of_clubs</string>
				<string>card_4_of_diamonds</string>
				<string>card_4_of_hearts</string>
				<string>card_4_of_spades</string>
				<string>card_5_of_clubs</string>
				<string>card_5_of_diamonds</string>
				<string>card_5_of_hearts</string>
				<string>card_5_of_spades</string>
				<string>card_6_of_clubs</string>
				<string>card_6_of_diamonds</string>
				<string>card_6_of_hearts</string>
				<string>card_6_of_spades</string>
				<string>card_7_of_clubs</string>
				<string>card_7_of_diamonds</string>
				<string>card_7_of_hearts</string>
				<string>card_7_of_spades</string>
				<string>card_8_of_clubs</string>
				<string>card_8_of_diamonds</string>
				<string>card_8_of_hearts</string>
				<string>card_8_of_spades</string>
				<string>card_9_of_clubs</string>
				<string>card_9_of_diamonds</string>
				<string>card_9_of_hearts</string>
				<string>card_9_of_spades</string>
				<string>card_10_of_clubs</string>
				<string>card_10_of_diamonds</string>
				<string>card_10_of_hearts</string>
				<string>card_10_of_spades</string>
				<string>card_ace_of_clubs</string>
				<string>card_ace_of_diamonds</string>
				<string>card_ace_of_hearts</string>
				<string>card_ace_of_spades</string>
				<string>card_black_joker</string>
				<string>card_jack_of_clubs</string>
				<string>card_jack_of_diamonds</string>
				<string>card_jack_of_hearts</string>
				<string>card_jack_of_spades</string>
				<string>card_king_of_clubs</string>
				<string>card_king_of_diamonds</string>
				<string>card_king_of_hearts</string>
				<string>card_king_of_spades</string>
				<string>card_queen_of_clubs</string>
				<string>card_queen_of_diamonds</string>
				<string>card_queen_of_hearts</string>
				<string>card_queen_of_spades</string>
				<string>card_red_joker</string>
			</array>
			<key>Preview</key>
			<string>card_red_joker</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Plaat</string>
			<key>Stickers</key>
			<array>
				<string>plaat_1</string>
				<string>plaat_2</string>
				<string>plaat_3</string>
				<string>plaat_4</string>
				<string>plaat_5</string>
				<string>plaat_6</string>
				<string>plaat_7</string>
				<string>plaat_8</string>
				<string>plaat_9</string>
				<string>plaat_10</string>
			</array>
			<key>Preview</key>
			<string>plaat_10</string>
		</dict>
	</array>
</dict>
</plist>
