<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone9,4</key>
	<string>iPhone 7 Plus (A1784)</string>
	<key>iPhone9,3</key>
	<string>iPhone 7 (A1778)</string>
	<key>iPhone9,2</key>
	<string>iPhone 7 Plus (A1661/A1785/A1786)</string>
	<key>iPhone9,1</key>
	<string>Phone 7 (A1660/A1779/A1780)</string>
	<key>i386</key>
	<string>iOS Simulator</string>
	<key>x86_64</key>
	<string>iOS Simulator</string>
	<key>iPod1,1</key>
	<string>iPod Touch</string>
	<key>iPod2,1</key>
	<string>iPod Touch</string>
	<key>iPod3,1</key>
	<string>iPod Touch</string>
	<key>iPod4,1</key>
	<string>iPod Touch</string>
	<key>iPod5,1</key>
	<string>iPod Touch</string>
	<key>iPod7,1</key>
	<string>iPod Touch</string>
	<key>iPhone1,1</key>
	<string>iPhone</string>
	<key>iPhone1,2</key>
	<string>iPhone</string>
	<key>iPhone2,1</key>
	<string>iPhone</string>
	<key>iPhone3,1</key>
	<string>iPhone 4</string>
	<key>iPhone3,2</key>
	<string>iPhone 4</string>
	<key>iPhone3,3</key>
	<string>iPhone 4</string>
	<key>iPhone4,1</key>
	<string>iPhone 4S</string>
	<key>iPhone5,1</key>
	<string>iPhone 5</string>
	<key>iPhone5,2</key>
	<string>iPhone 5</string>
	<key>iPhone5,3</key>
	<string>iPhone 5c</string>
	<key>iPhone5,4</key>
	<string>iPhone 5c</string>
	<key>iPhone6,1</key>
	<string>iPhone 5s</string>
	<key>iPhone6,2</key>
	<string>iPhone 5s</string>
	<key>iPhone7,1</key>
	<string>iPhone 6 Plus</string>
	<key>iPhone7,2</key>
	<string>iPhone 6</string>
	<key>iPhone8,1</key>
	<string>iPhone 6s</string>
	<key>iPhone8,2</key>
	<string>iPhone 6s Plus</string>
	<key>iPhone8,4</key>
	<string>iPhone SE</string>
	<key>iPad1,1</key>
	<string>iPad</string>
	<key>iPad2,1</key>
	<string>iPad 2</string>
	<key>iPad2,2</key>
	<string>iPad 2</string>
	<key>iPad2,3</key>
	<string>iPad 2</string>
	<key>iPad2,4</key>
	<string>iPad 2</string>
	<key>iPad3,1</key>
	<string>iPad</string>
	<key>iPad3,2</key>
	<string>iPad</string>
	<key>iPad3,3</key>
	<string>iPad</string>
	<key>iPad3,4</key>
	<string>iPad</string>
	<key>iPad3,5</key>
	<string>iPad</string>
	<key>iPad3,6</key>
	<string>iPad</string>
	<key>iPad4,1</key>
	<string>iPad Air</string>
	<key>iPad4,2</key>
	<string>iPad Air</string>
	<key>iPad4,3</key>
	<string>iPad Air</string>
	<key>iPad5,3</key>
	<string>iPad Air 2</string>
	<key>iPad5,4</key>
	<string>iPad Air 2</string>
	<key>iPad2,5</key>
	<string>iPad Mini</string>
	<key>iPad2,6</key>
	<string>iPad Mini</string>
	<key>iPad2,7</key>
	<string>iPad Mini</string>
	<key>iPad4,4</key>
	<string>iPad Mini 2</string>
	<key>iPad4,5</key>
	<string>iPad Mini 2</string>
	<key>iPad4,6</key>
	<string>iPad Mini 2</string>
	<key>iPad4,7</key>
	<string>iPad Mini 3</string>
	<key>iPad4,8</key>
	<string>iPad Mini 3</string>
	<key>iPad4,9</key>
	<string>iPad Mini 3</string>
	<key>iPad5,1</key>
	<string>iPad Mini 4</string>
	<key>iPad5,2</key>
	<string>iPad Mini 4</string>
	<key>iPad6,3</key>
	<string>iPad Pro</string>
	<key>iPad6,4</key>
	<string>iPad Pro</string>
	<key>iPad6,7</key>
	<string>iPad Pro</string>
	<key>iPad6,8</key>
	<string>iPad Pro</string>
</dict>
</plist>
